<div *ngIf="!isUploading"> 
  <button type="button" color="accent" mat-raised-button (click)="fileInput.click()">
    Selfie!
 </button>
 <input #fileInput type="file" (change)="startUpload($event.target.files)" style="display:none;" />
</div>

<div *ngIf="percentage | async as pct">
  <div *ngIf="pct < 100">
    <mat-progress-bar mode="indeterminate" value="pct"></mat-progress-bar>
    {{ pct | number: '1.0-0' }}%
  </div>
  <div *ngIf="pct == 100">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    Verwerken ... (duurt 3 - 10 seconden)
  </div>
</div>

<div *ngIf="snapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} van {{ snap.totalBytes | fileSize }} 

  <button (click)="task.pause()" mat-button color="accent" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" mat-button color="warn" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" mat-button color="primary"  [disabled]="!(snap?.state === 'paused')">Hervatten</button>

</div>
	      
