mat-card {
	margin: 5px;
	
}

.background-image {
  background-image: url("/assets/desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

section {
	background-color: #040046;
}

.icon-apps {
  background-image: url('/assets/icon_apps.png');
  background-size: cover;
}

.logo-image {
  background-image: url('/assets/logo-image.png');
  background-size: cover;
}
