<div class="background type">
	<div class="container">
	<section>
		<img src="assets/selfie_the_game_logo.svg" alt="logo selfie the game" class="logo">
		<p class="subhead>">Pak je telefoon en wees creatief</p>
		<div class="container-klein"></div>

	</section>
	<section>
		<div class="wrapper">
			<div class="nested box1">
				<img src="assets/flits_1.svg" alt="flits 1" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 1" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 2" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 3" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 4" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 5" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 6" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 7" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 8" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 9" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 10" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 11" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 12" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 13" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 14" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 15" class="flits-1">
				<img src="assets/flits_1.svg" alt="flits 16" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 17" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 18" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 19" class="flits-1">
			</div>
			<div class="selfie-tekening box2">
			<img src="assets/selfie_tekening.svg" alt="selfie tekening">
			</div>
			<div class="nested box1">
				<img src="assets/flits_1.svg" alt="flits 1" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 2" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 3" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 4" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 5" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 6" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 7" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 8" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 9" class="flits-3"> 
				<img src="assets/flits_1.svg" alt="flits 10" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 11" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 12" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 13" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 14" class="flits-2">
				<img src="assets/flits_2.svg" alt="flits 15" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 16" class="flits-3"> 
				<img src="assets/flits_1.svg" alt="flits 17" class="flits-1">
				<img src="assets/flits_2.svg" alt="flits 18" class="flits-2">
				<img src="assets/flits_3.svg" alt="flits 19" class="flits-3">
				<img src="assets/flits_1.svg" alt="flits 20" class="flits-1">
			
			</div>		
		</div>
	</section>
	<div class="container-klein"></div>
	<section>
	<p class="text-landingpage">Speel het met je vrienden, alle leeftijden, binnen en buiten:<br>
								het beste interactieve spel dat er is!</p>
	<div class="size-button">
		<a routerLink="/login"  >
			<img src="/assets/play_button.svg">
		</a>
	</div>
	<div>
		<img src="assets/arrow_down.svg" alt="arrow" class="arrow">
	</div>
	</section>
	
	<section>
		<div class="container2">
		</div>
		<div>
			<h1>Het Spel</h1>
				<ul>
					<li>Kies je opdrachten</li>
					<li>Maak selfies met je groep</li>
					<li>En kies wie de meeste punten krijgt</li>
					
				</ul>
		</div>
		
		<div class="container2">
		</div>
		
		<div>
			<a routerLink="/login" class="play-button">
				<img src="/assets/play_button.svg" class="size-button" >
			</a>
		</div>	
	</section>
	</div>
	<footer>
		<div class="footer-containter">
			<div class="container3">
				<img src="assets/selfie_the_Game_logo_klein.svg" class="logo-klein">
				<p>copyright 2019 HandiHow</p>
					<a href="https://handihow.com" class="handihow"><img src="assets/HIH_logo.png" class="logoHIH">
					</a>
			
			</div>
		</div>
	</footer>

</div>

