<section fxLayout="row" fxLayout.lt-sm="column">
	
	<mat-card fxFlex="65" fxFlex.lt-lg="50" class="background-image"></mat-card>
	
	<mat-card fxFlex="35" fxFlex.lt-lg="50" fxHide.lt-sm>
		<ngx-auth-firebaseui 
		[signInTabText]="'Inloggen'"
		[signInCardTitleText]="'Inloggen'"
		[loginButtonText]="'Inloggen'"
		[forgotPasswordButtonText]="'Wachtwoord vergeten?'"
		[nameErrorRequiredText]="'Naam is verplicht'"
		[nameErrorMinLengthText]="'Naam is te kort'"
		[nameErrorMaxLengthText]="'Naam is te lang'"
		[emailText]="'Email adres'"
		[emailErrorRequiredText]="'Email adres is verplicht'"
		[emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText'"
		[passwordText]="'Wachtwoord'"
		[passwordErrorRequiredText]="'Wachtwoord is verplicht'"
		[registerTabText]="'Registreren'"
		[registerCardTitleText]="'Nieuw account maken'"
		[registerButtonText]="'Registreren'"
		[guestButtonText]="'Anoniem inloggen'"
		[resetPasswordTabText]="'Wachtwoord herstellen'"
		[resetPasswordInputText]="'Wachtwoord herstellen'"
		[resetPasswordErrorRequiredText]="'Dit veld is verplicht'"
		[resetPasswordErrorPatternText]="'Geef een geldig email adres in'"
		[resetPasswordActionButtonText]="'Opnieuw instellen'"
		[resetPasswordInstructionsText]="'Check jouw email voor instructies om een nieuw wachtwoord in te stellen'"
		[nameText]="'Volledige naam'"
		[providers]="['google', 'facebook', 'microsoft']"
		[guestEnabled]='false'
		privacyPolicyUrl="/privacy"
		tosUrl="/tos">
	</ngx-auth-firebaseui>
</mat-card>

</section>

<section fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" >
	
	<mat-card fxFlex="35">
		<mat-card-header>
			<div mat-card-avatar class="icon-apps"></div>
			<mat-card-title>Mobiele apps</mat-card-title>
			<mat-card-subtitle>Download ze in de app stores</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p fxLayout="column" fxLayoutAlign="center center">
				<a href='https://play.google.com/store/apps/details?id=com.handihow.selfiethegame&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target=_blank>
					<img alt='Ontdek het op Google Play' src='https://play.google.com/intl/en/badges/images/generic/nl_badge_web_generic.png' height="60" />
				</a>
				<a href="https://apps.apple.com/nl/app/selfiethegame/id1464683667?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/nl-nl/badge-lrg.svg?releaseDate=2019-06-15&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="65">
		<mat-card-title-group>
			<!-- <div mat-card-avatar class="logo-image"></div> -->
			<img mat-card-sm-image src="/assets/logo-image.png">
			<mat-card-title>SelfieTheGame</mat-card-title>
			<mat-card-subtitle>Het leukste groepsspel van dit moment!</mat-card-subtitle>
		</mat-card-title-group>
		<mat-card-content>
			<p>Speel het met je vrienden of op een familiedag. Speel het tijdens een bedrijfsuitje. Maak je eigen opdrachten!</p>
			<p>Ben je leraar? Speel dit spel dan met jouw klas!</p>
		</mat-card-content>	
		<mat-card-actions>
			<a mat-button routerLink="/info">HOE WERKT HET?</a>
			<a mat-button 
				href="https://docs.google.com/document/d/e/2PACX-1vRhVQDvlFdY1HL1cphS-iP4n-xUNohJPyB0THlib6F_vcWjWX5R9IpXkBLSGOvPZaWmdb5FdmkxnOuT/pub" 
				target=_blank>INSTRUCTIES VOOR DOCENTEN</a>
		</mat-card-actions>  
	</mat-card>
	
	

</section>

