<div style="margin: 2rem 0 2rem 0"
   fxLayout="row"
   fxLayout.lt-md="column"
   fxLayoutAlign="center"
   fxLayoutGap.lt-md="20px"
   fxLayoutGap="40px">

	<mat-card fxFlex="40">
      <mat-card-content>
        <ngx-auth-firebaseui (onSuccess)="onSuccess($event)"
                             (onError)="printError($event)"
                             [providers]="['google', 'facebook']"
                             [guestEnabled]='false'>
        </ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>
</div>