
<section fxLayout="column" fxLayoutAlign="center center" class="explanation">
Do you want to set up other judges for the game?
Then press the plus next to the participant's name to make him / her a jury member!
When you are done setting up judges, proceed to the next step.
</section>
<section fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
	<div class="judge-card">
		<app-participants-card 	[participants]="participants" 
								[game]="game"
								[administrator]="administrator"></app-participants-card>
	</div>
	<div class="judge-card">
		<app-judges-card  		[judges$]="judges$" 
								[game]="game" 
								[administrator]="administrator"></app-judges-card>
	</div>
	
</section>
