<section fxLayout="row" fxLayout.lt-sm="column">
	
	<mat-card fxFlex="50">
	  <mat-card-header>
	    <mat-card-title>App support</mat-card-title>
	    <mat-card-subtitle>We are here for all your bug reports and questions</mat-card-subtitle>
	  </mat-card-header>
	  <img 	mat-card-image 
	  		src="https://cdn.pixabay.com/photo/2017/10/09/15/45/call-center-2833793_1280.png" 
	  		alt="Technical support">
	  <mat-card-content>
	    <p>
	      Our website and apps are open source. 
	    </p>
	    <p>
	      You can submit a bug report via our GitHub repo.
	    </p>
	    <p>
	      We will work on fixing any issues that you may encounter!
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a href="https://github.com/handihow/selfiespel/issues" target="_blank" mat-button>BUG ON WEBSITE</a>
	    <a href="https://github.com/handihow/selfiethegame/issues" target="_blank" mat-button>BUG ON APP</a>
	  </mat-card-actions>
	</mat-card>
	
	<mat-card fxFlex="50">
		<mat-card-header>
		    <mat-card-title>Support us</mat-card-title>
		    <mat-card-subtitle>Do you like our game and want to support us?</mat-card-subtitle>
		  </mat-card-header>
		  <img 
		  	  mat-card-image 
			  src="https://cdn.pixabay.com/photo/2015/03/01/04/44/donate-654328_1280.png" 
			  alt="Support us on Patreon">
		  <mat-card-content>
		    <p>
		      HandiHow has created this game for you to play completely free of charge. 
		    </p>
		    <p>
		      You can help us improve our game by sending us ideas and improvements!
		    </p>
		    <p>
		      We are grateful for supporters on Patreon. Small contributions can help us a lot!
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <a href="https://www.patreon.com/bePatron?u=32959269" target="_blank" mat-button>SUPPORT US ON PATREON</a>
		  </mat-card-actions>
		
	</mat-card>

</section>