<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Spel">
  	<ng-template matTabContent>
	    <app-game-upload-expansion-panel></app-game-upload-expansion-panel>
	</ng-template>
  </mat-tab>
  <mat-tab label="Foto's">
  	<ng-template matTabContent>
	    <app-game-image-viewer></app-game-image-viewer>
	</ng-template>
  </mat-tab>
  <mat-tab label="Beheer" *ngIf="isOwner">
  	<ng-template matTabContent>
	    <app-actions-card></app-actions-card>
	</ng-template>
  </mat-tab>
</mat-tab-group>