<section fxLayout="row" fxLayoutAlign="space-around stretch" 
			fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch" fxLayoutGap="10px" class="header-section">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				{{game?.name}}
			</mat-card-title>
			<mat-card-subtitle>
				{{game?.date.toDate() | date:'dd-MM-yyyy'}}
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-actions>
			<a mat-button matTooltip="Terug" routerLink="/games">TERUG</a>
		</mat-card-actions>
	</mat-card>
	<app-actions-card *ngIf="isOwner"></app-actions-card>
</section>

<mat-accordion class="headers-align">
	<mat-expansion-panel *ngFor="let assignment of game?.assignments; let i=index"
				(opened)="onOpenPanel(i)"
                (closed)="onClosePanel(i)">
	  <mat-expansion-panel-header>
	    <mat-panel-title>{{assignment.assignment}}</mat-panel-title>
	    <mat-panel-description><mat-icon>done</mat-icon></mat-panel-description>
	  </mat-expansion-panel-header>
	  <app-file-upload></app-file-upload>
	</mat-expansion-panel>
</mat-accordion>