<mat-toolbar color="primary">
  Manage game
  <span class="fill-remaining"></span>
  <a mat-icon-button matTooltip="Back" routerLink="/games">
    <mat-icon>arrow_back</mat-icon>
  </a>
</mat-toolbar>

<mat-horizontal-stepper *ngIf="desktop && doneLoading && !game.status.closedAdmin">
  <mat-step label="Players">
    <app-invite-players [game]="game"></app-invite-players>
  </mat-step>
  <mat-step label="Assignments">
    <app-create-assignments [game]="game"></app-create-assignments>
  </mat-step>
  <mat-step label="Judges">
    <app-assign-judges [game]="game"></app-assign-judges>
  </mat-step>
  <mat-step label="Teams">
    <app-create-teams [game]="game"></app-create-teams>
  </mat-step>
  <mat-step label="Done">
    <app-finished-setup [game]="game"></app-finished-setup>
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper *ngIf="!desktop && doneLoading && !game.status.closedAdmin">
  <mat-step label="Players">
    <app-invite-players [game]="game"></app-invite-players>
  </mat-step>
  <mat-step label="Assignments">
    <app-create-assignments [game]="game"></app-create-assignments>
  </mat-step>
  <mat-step label="Judges">
    <app-assign-judges [game]="game"></app-assign-judges>
  </mat-step>
  <mat-step label="Teams">
    <app-create-teams [game]="game"></app-create-teams>
  </mat-step>
  <mat-step label="Done">
    <app-finished-setup [game]="game"></app-finished-setup>
  </mat-step>
</mat-vertical-stepper>

<section class="action-card" *ngIf="doneLoading && game.status.closedAdmin">
  <p>If you want to start the game, press the "Play" button.</p>
  <app-actions-card [game]="game"></app-actions-card>
</section>