<section fxLayout="row" fxLayoutAlign="space-around center">
	<h2>{{(game$ | async)?.name}}</h2>
	<h4>{{(game$ | async)?.date.toDate() | date:'dd-MM-yyyy'}}</h4>
	<a mat-icon-button matTooltip="Terug" routerLink="/games"><mat-icon>arrow_back</mat-icon></a>
</section>
<section fxLayout="row" fxLayoutAlign="space-between stretch" 
			fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch" fxLayoutGap.lt-md="10px">
	
	<div fxFlex.gt-sm="30" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
		<app-actions-card></app-actions-card>
		<app-judges-card  [user]="user"></app-judges-card>
		<app-players-card [user]="user"></app-players-card>
	</div>

	<div fxFlex.gt-sm="30">
		<app-teams-card></app-teams-card>
	</div>

	<div fxFlex.gt-sm="30">
		<app-assignments-card></app-assignments-card>
	</div>

</section>
