<mat-horizontal-stepper *ngIf="desktop && game && !game.status.closedAdmin">
  <mat-step label="Uitnodigen">
    <app-invite-players></app-invite-players>
  </mat-step>
  <mat-step label="Opdrachten">
    <app-create-assignments></app-create-assignments>
  </mat-step>
  <mat-step label="Juryleden">
    <app-assign-judges></app-assign-judges>
  </mat-step>
  <mat-step label="Teams">
    <app-create-teams></app-create-teams>
  </mat-step>
  <mat-step label="Klaar">
    <app-finished-setup></app-finished-setup>
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper *ngIf="!desktop && game && !game.status.closedAdmin">
  <mat-step label="Spelers">
    <app-invite-players></app-invite-players>
  </mat-step>
  <mat-step label="Opdrachten">
    <app-create-assignments></app-create-assignments>
  </mat-step>
  <mat-step label="Juryleden">
    <app-assign-judges></app-assign-judges>
  </mat-step>
  <mat-step label="Teams">
    <app-create-teams></app-create-teams>
  </mat-step>
  <mat-step label="Klaar">
    <app-finished-setup></app-finished-setup>
  </mat-step>
</mat-vertical-stepper>

<section class="action-card" *ngIf="game.status.closedAdmin">
  <p>Als je het spel wilt starten, druk je op de "Play" knop.</p>
  <app-actions-card></app-actions-card>
</section>