<mat-toolbar color="primary">
  Assignments
  <span class="fill-remaining"></span>
  <a fxHide.xs
          mat-fab
          color="accent"
          class="fab-add"
          routerLink="/assignments/add" 
          matTooltip="Add assignments">
    <mat-icon>add</mat-icon>
  </a>
  <a fxHide
          fxShow.xs
          mat-icon-button
          matTooltip="Add assignments"
          routerLink="/assignments/add">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
    fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch" fxLayoutGap.lt-sm="10px" class="assignment-options">
  <mat-form-field class="full-width">
  <mat-select
      [(ngModel)]="selectedCategory"
      placeholder="Select category"
      (ngModelChange)="selectCategory($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field fxFlex.gt-sm="40%">
    <input matInput type="text" [(ngModel)]="filterValue" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-slide-toggle 
        color="primary" 
        [(ngModel)]="slideUserListsOnly" 
        (ngModelChange)="onFilter()">
        Show only my assignment lists
  </mat-slide-toggle>    
</div>
<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.created.toDate() | date : 'dd-MM-yy' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.category }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Tags</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.tags ? element.tags.join(', ') : '' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="owned">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ user && element.userId === user.uid ? "Owner" : "No" }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="selection.select(row)"></mat-row>
</mat-table>

<mat-paginator [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
