<mat-card class="full-width">
	<mat-card-header>
		<mat-card-title>
			Groepeer
		</mat-card-title>
		<mat-card-subtitle>
			Voeg groepen toe en deel de spelers in!
		</mat-card-subtitle>
	</mat-card-header>
	<mat-slider min="2" max="4" step="1" [value]="playersPerGroup" (change)="onChangeGroupSize($event)" thumbLabel></mat-slider>
	<mat-card-content cdkDropListGroup>
		<div *ngFor="let team of teams">
			<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="team.id!==teamId">
				<h3>{{team?.name}}</h3>
				<button mat-icon-button matTooltip="Wijzig groepsnaam" (click)="onEdit(team)">
					<mat-icon>edit</mat-icon>
				</button>
			</div>
			<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="team.id===teamId">
				<mat-form-field>
					<input matInput placeholder="Groepsnaam" [(ngModel)]="teamName">
				</mat-form-field>
				<button mat-icon-button matTooltip="Bewaar groepsnaam" (click)="onSave(team)">
					<mat-icon>save</mat-icon>
				</button>
			</div>
			
			<mat-list cdkDropList class="list"
						[cdkDropListData]="team?.participants" 
						(cdkDropListDropped)="drop($event)">
				
				<mat-list-item *ngFor="let player of team?.participants" cdkDrag [cdkDragData]="player" class="list-item">			<mat-icon matListIcon>drag_handle</mat-icon>
					<p matLine>{{player.displayName}}</p>
				</mat-list-item>
			</mat-list>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="accent" (click)="onShuffle()">Opnieuw!</button>
	</mat-card-actions>
</mat-card>