<section fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch">
	<mat-card  *ngIf="game?.date">
		<mat-card-header>
			<mat-card-title>
				{{game?.name}}
			</mat-card-title>
		</mat-card-header>
		<qrcode mat-card-image [qrdata]="game?.code" [size]="128" [level]="'M'"></qrcode>
		<mat-card-content>
			<h3>Code: {{game?.code}}</h3>
			<p>Spelers kunnen zich aanmelden voor het spel met de code.</p>
			<p>Gebruikers van de mobiele app kunnen de QR code scannen.</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" (click)="addUsers()">Spelers toevoegen</button>
		</mat-card-actions>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Deelnemers
			</mat-card-title>
			<mat-card-subtitle>
				De volgende mensen nemen deel aan het spel
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<mat-list-item *ngFor="let participant of participants">
					<h3 matLine>
					{{participant.displayName ? participant.displayName : 'Anoniem'}}</h3>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</section>
