<section fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch">
	<mat-card  *ngIf="game?.date">
		<mat-card-header>
			<mat-card-title>
				{{game?.name}}
			</mat-card-title>
		</mat-card-header>
		<qrcode mat-card-image [qrdata]="game?.code" [size]="128" [level]="'M'"></qrcode>
		<mat-card-content>
			<h3>Code: {{game?.code}}</h3>
			<p>Players can register for the game with the code.</p>
			<p>Mobile app users can scan the QR code.</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" (click)="addUsers()">Add Players</button>
		</mat-card-actions>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Participants
			</mat-card-title>
			<mat-card-subtitle>
				The following people participate in the game
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<mat-list-item *ngFor="let participant of participants">
					<h3 matLine>
					{{participant.displayName ? participant.displayName : 'Anonymous'}}</h3>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</section>
