<mat-list-item>
	<mat-icon matListIcon *ngIf="canEdit">drag_handle</mat-icon>
	<p matLine fxLayout="row" fxLayoutAlign="space-between center">
		<span>{{assignment.assignment}}</span>
		<span fxLayout="row" fxLayoutAlign="space-between center">
			<span>
				<mat-button-toggle-group 
					[value]="assignment.maxPoints" 
					(change)="onChangePoints($event)"
					[disabled]="!canEdit">
				  <mat-button-toggle [value]="rating.easy" matTooltip="1 point">
				    <!-- <img src="assets/points_one.png"> -->
				    <mat-icon aria-hidden="false" aria-label="One" color="primary">looks_one</mat-icon>
				  </mat-button-toggle>
				  <mat-button-toggle [value]="rating.medium" matTooltip="3 points">
				  	<mat-icon aria-hidden="false" aria-label="Three" color="primary">looks_3</mat-icon>
				    <!-- <img src="assets/points_three.png"> -->
				  </mat-button-toggle>
				  <mat-button-toggle [value]="rating.hard" matTooltip="5 points">
				  	<mat-icon aria-hidden="false" aria-label="Five" color="primary">looks_5</mat-icon>
				    <!-- <img src="assets/points_five.png"> -->
				  </mat-button-toggle>
				</mat-button-toggle-group>
			</span>
			<span *ngIf="canEdit">
				<button mat-icon-button [matMenuTriggerFor]="menu">
			  	<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
				  <button mat-menu-item (click)="onEdit()">
					<mat-icon>edit</mat-icon>
					<span>Edit assignment</span>
				  </button>
				  <button mat-menu-item (click)="onRemove()">
				  	<mat-icon>remove</mat-icon>
				  	<span>Remove assignment</span>
				  </button>
				</mat-menu>
			</span>
		</span>
	</p>
	<p matLine>
		<span>{{assignment.description}}</span>
	</p>
	<p matLine>
		<span class="location">{{assignment.location}}</span>
	</p>
	
</mat-list-item>

