<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/contacts" *ngIf="isAuth$ | async" (click)="drawer.toggle()">Contacten</a>
      <a mat-list-item routerLink="/assignments" *ngIf="isAuth$ | async" (click)="drawer.toggle()">Opdrachten</a>
      <a mat-list-item routerLink="/selfies" *ngIf="isAuth$ | async" (click)="drawer.toggle()">Selfies</a>
      <a mat-list-item routerLink="/games" *ngIf="isAuth$ | async" (click)="drawer.toggle()">Spellen</a>
      <a mat-list-item routerLink="/profile" *ngIf="isAuth$ | async" (click)="drawer.toggle()">Account</a>
      <a mat-list-item routerLink="/login" *ngIf="!(isAuth$ | async)" (click)="drawer.toggle()">Login</a>
      <button mat-list-item (click)="onLogout()" *ngIf="isAuth$ | async">Log out</button>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/info" (click)="drawer.toggle()">Hoe werkt het?</a>
      <a mat-list-item routerLink="/privacy" (click)="drawer.toggle()">Privacybeleid</a>
      <a mat-list-item routerLink="/tos" (click)="drawer.toggle()">Gebruiksvoorwaarden</a>
      <a mat-list-item routerLink="/faq" (click)="drawer.toggle()">Veelgestelde vragen</a>
      <mat-divider></mat-divider>
      <mat-list-item>Admin</mat-list-item>
      <a mat-list-item routerLink="/admin" *ngIf="(user$ | async)?.roles?.admin">Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="top-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/"><img src="/assets/selfieTheGame.png" class="selfieTheGame"></a></span>
      <div [ngClass]="{hidden: isHandset$ | async}">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" *ngIf="!(isAuth$ | async)">Home</a>
        <a routerLinkActive="active" routerLink="/info" *ngIf="!(isAuth$ | async)">Hoe werkt het?</a>
        <a routerLinkActive="active" routerLink="/faq" *ngIf="!(isAuth$ | async)">Veelgestelde vragen</a>
      </div>
      <span class="spacer"></span>
      <div [ngClass]="{hidden: isHandset$ | async}">
        <a routerLinkActive="active" routerLink="/admin" *ngIf="(user$ | async)?.roles?.admin">Admin</a>
        <a routerLinkActive="active" routerLink="/contacts" *ngIf="isAuth$ | async">Contacten</a>
        <a routerLinkActive="active" routerLink="/assignments" *ngIf="isAuth$ | async">Opdrachten</a>
        <a routerLinkActive="active" routerLink="/selfies" *ngIf="isAuth$ | async">Selfies</a>
        <a routerLinkActive="active" routerLink="/games" *ngIf="isAuth$ | async">Spellen</a>
      </div>
      <button mat-mini-fab [matMenuTriggerFor]="profile" *ngIf="isAuth$ | async">
        {{(user$ | async)?.displayName.charAt(0)}}
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item disabled="true" id="displayName">{{(user$ | async)?.displayName}}</button>
        <button routerLink="/profile" mat-menu-item>Profiel</button>
        <button style="cursor: pointer" (click)="onLogout()" mat-menu-item>Log uit</button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <!-- Add Content Here -->
    <footer class="footer">
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <span><a routerLink="/"><img src="/assets/selfieTheGame.png" class="selfieTheGame"></a></span>
        <div>
          <a mat-icon-button href="mailto:office@handihow.com?subject=Vraag / opmerking over SelfieTheGame">
            <mat-icon>email_outline</mat-icon>
          </a>
          <span class="footer-text">office@handihow.com</span>
        </div>
        <a href="https://handihow.com" target=_blank class="active">
          <mat-icon>copyright</mat-icon><span class="footer-text">2019 - Made by HandiHow</span>
        </a>
      </mat-toolbar>
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
          <a class="active" routerLink="/privacy"><span class="footer-text">Privacybeleid</span></a>
          <a class="active" routerLink="/tos"><span class="footer-text">Gebruiksvoorwaarden</span></a>
          <a class="active" routerLink="/info"><span class="footer-text">Hoe werkt het?</span></a>
          <a class="active" routerLink="/faq"><span class="footer-text">Veelgestelde vragen</span></a>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
