<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/games" *ngIf="isAuth$ | async">Spellen</a>
      <a mat-list-item routerLink="/profile" *ngIf="isAuth$ | async">Account</a>
      <a mat-list-item routerLink="/login" *ngIf="!(isAuth$ | async)">Login</a>
      <button mat-list-item (click)="onLogout()" *ngIf="isAuth$ | async">Log out</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isAuth$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="/assets/selfieTheGame.png" class="selfieTheGame"></span>
      <span class="spacer"></span>
      <div [ngClass]="{hidden: isHandset$ | async}">
        <a routerLinkActive="active" routerLink="/games" *ngIf="isAuth$ | async">Spellen</a>
        <a routerLinkActive="active" routerLink="/profile" *ngIf="isAuth$ | async">Account</a>
        <a routerLinkActive="active" routerLink="/login" *ngIf="!(isAuth$ | async)">Login</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
