<mat-card class="no-content-card">
  <mat-card-header>
    <mat-card-title>{{title ?  title : 'No content'}}</mat-card-title>
  </mat-card-header>
  <img *ngIf="imageURL" mat-card-image [src]="imageURL">
  <mat-video 
      *ngIf="videoURL && videoTitle && videoPoster"
      [src]="videoURL" [title]="videoTitle" 
      [poster]="videoPoster"
      [playsinline]="true"
      [preload]="false"
      [fullscreen]="true"
      [autoplay]="false"></mat-video>
  <mat-card-content>
    <p>
      {{comment ? comment : 'No content to show'}}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="addUrl">
    <a mat-raised-button color="primary" [routerLink]="addUrl">{{buttonText}}</a>
  </mat-card-actions>
</mat-card>
