<mat-card  *ngIf="game?.date">
	<mat-card-header>
		<mat-card-title>
			{{game?.name}}
		</mat-card-title>
		<mat-card-subtitle>
			{{isOwner ? 'Beheerder' : 'Speler'}}
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>Datum: {{game?.date.toDate() | date : 'dd-MM-yyyy'}}</p>
		<p>Code: {{game?.code}}</p>
		<h4 *ngIf="game.status<2 && !isOwner">Spel is nog niet begonnen...</h4>
	</mat-card-content>
	<mat-card-actions>
		<a mat-raised-button color="primary" routerLink="/games/{{game.id}}/admin" 
					*ngIf="game.status<2 && isOwner">
			Beheer</a>
		<a mat-raised-button color="accent" routerLink="/games/{{game.id}}/view" 
					*ngIf="game.status==3 || game.status==4">
			Bekijk</a>
		<a mat-raised-button color="accent" routerLink="/games/{{game.id}}/play" 
					*ngIf="game.status==2">
			Speel</a>
	</mat-card-actions>
</mat-card>