<mat-pages>
	<mat-page-loader>
		<mat-page-outlook title="Algemene bepalingen">
			<a mat-button href="https://handihow.com" target=_blank>HANDIHOW WEBSITE</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Bedrijfsinformatie</h3>
			HandiHow, een bedrijf onder Nederlands recht, wiens hoofdkantoor is gevestigd aan de Bilderdijkstraat 14, 2902 AB te CAPELLE AAN DEN IJSSEL, NEDERLAND, (hierna te noemen "HandiHow"), publiceert de SelfieTheGame website (hierna te noemen "de Website"). Hierbij behoren ook de SelfieTheGame iOS en Android apps die gepubliceerd zijn op de app stores (hierna te noemen "de Apps").
			<h3>Toepasselijkheid</h3>
			Deze website wordt beheerd door HandiHow, Bilderdijkstraat 14, 2902 AB Capelle aan den IJssel, ("HandiHow") en maakt het mogelijk om het spel SelfieTheGame te spelen. Dit behelst onder andere het uploaden van foto's en het geven van commentaar op elkaar. Door continuering van uw bezoek aan deze website gaat u expliciet en onherroepelijk akkoord met deze gebruiksvoorwaarden.

			<p>Deze gebruiksvoorwaarden zijn van toepassing op elk gebruik van de Websites en de Apps, alsmede op alle informatie en data die daarop beschikbaar wordt gesteld of die door daarop door gebruikers wordt geplaatst (de "Data").</p>

			<p>Indien u niet akkoord bent met deze gebruiksvoorwaarden dient u deze website direct te verlaten en de Websites niet langer te bezoeken of te gebruiken.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Spel voorwaarden">
			<a mat-button routerLink="/info" target=_blank>HOE WERKT HET SPEL?</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Spel Voorwaarden</h3>

			Wanneer via de Website of via de Apps aan een spel wordt deelgenomen, dient iedereen zich verantwoordelijk te gedragen. Het doel van het spel is vermaak en plezier hebben. Pesten, negatief commentaar, of via beeldmateriaal verspreiden van onfatsoenlijke boodschappen is niet gepast op SelfieTheGame.

			<p>Gebruikers kunnen via de Website of Apps een selfie "Rapporteren". Dit betekent dat de inhoud van de foto ongepast is. Bij de eerste rapportage wordt er een email verstuurd naar degene die de foto heeft geupload. Ook is onder de foto te zien (in de foto detail pagina) dat de foto als ongepast is aangemerkt.</p>

			<p>Zodra er nog een gebruiker dezelfde selfie als ongepast aanmerkt, wordt er een email verzonden naar de beheerder van het spel. De beheerder kan dan het team aanspreken dat de selfie heeft gepost.</p>

			<p>Bij 3 rapportages van dezelfde foto, wordt de foto automatisch verwijderd uit het spel. De beheerder van het spel wordt per email hiervan op de hoogte gesteld. Bij veelvuldig misbruik behoudt HandiHow zich het recht voor om een gebruiker van het spel te blokkeren of permanent te verwijderen.</p>

			<p>HandiHow is in geen geval verantwoordelijk voor consequentiele (negatieve gevolgen) van geupload beeldmateriaal of reacties op beeldmateriaal.</p>
			<h3>Uitsluiting/Verwijdering content</h3>

			HandiHow behoudt zich het recht voor om een gebruiker met onmiddellijke ingang uit te sluiten van elk verder gebruik van de Website en de Apps indien hij op enige wijze handelt in strijd met deze gebruiksvoorwaarden, enige bepaling van Nederlands recht, de goede smaak en fatsoen, of met de etiquette die op het internet in acht dient te worden genomen, zulks onverminderd het recht van HandiHow om nadere rechtsmaatregelen te nemen en schadevergoeding te eisen.

			<p>HandiHow behoudt zich te allen tijde het recht voor om Gegevens zonder opgave van reden of waarschuwing vooraf van de Websites te verwijderen en gebruikers die deze Gegevens hebben geplaatst de toegang tot de Websites te ontzeggen.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Intellectuele eigendomsrechten">
			Intellectuele eigendomsrechten
		</mat-page-outlook>
		<mat-page-content>
			<h3>Intellectuele eigendomsrechten</h3>

			De auteursrechten, merkenrechten en andere intellectuele eigendomsrechten op de op de Websites getoonde of beschikbare Data (waaronder, maar niet beperkt tot, alle informatie, teksten, afbeeldingen, geluiden, software, merken, logo’s en ander materiaal) zijn eigendom van HandiHow of zijn opgenomen met toestemming van de rechthebbende.

			<p>De Data mag alleen worden gebruikt voor niet-commerciële doeleinden. Zonder voorafgaande schriftelijke toestemming van HandiHow is het is niet toegestaan de Data te verveelvoudigen of anderszins te gebruiken. Voorbeelden van ongeoorloofd gebruik van de Data zijn het opslaan of reproduceren van (een deel van) de Data en het aanbrengen van koppelingen, hyperlinks of deeplinks tussen de Websites en een andere internetpagina.</p>

			<p>Op bepaalde onderdelen van de Websites kan het mogelijk zijn om gegevens beschikbaar te stellen, bijvoorbeeld door foto's te uploaden of commentaar te geven. Gegevens die door u op de Websites of op de Apps zijn geplaatst, kunnen te allen tijde door HandiHow worden gebruikt, zowel in het kader van huidige als voor toekomstige activiteiten van HandiHow en de aan haar gelieerde maatschappijen.</p>

			<p>Voor zover nodig erkent u en stemt u ermee in dat u door het beschikbaar stellen of achterlaten van gegevens (bijvoorbeeld een foto of een reactie), informatie of beeldmateriaal (hierna gezamenlijk: "de Gegevens") op de Websites, u aan HandiHow een kosteloze, onbezwaarde, wereldwijde, niet-exclusieve licentie verleent om deze Gegevens - inclusief de door u opgegeven naam - te gebruiken, te verveelvoudigen, in sub-licentie te verstrekken, te verspreiden, te bewerken en openbaar te maken in welke media dan ook en voor welke doeleinden dan ook. Voor zover mogelijk doet u hierbij afstand van uw persoonlijkheidsrechten als bedoeld in artikel 25 Auteurswet 1912.</p>

			<p>U stemt ermee in dat de Gegevens die u via de Websites of de Apps ter beschikking stelt, gebruikt worden door andere gebruikers van HandiHow. HandiHow aanvaardt geen enkele aansprakelijkheid voor de naleving van gebruikers van HandiHow van deze gebruiksvoorwaarden. 
			Voor zover nodig verleent u aan HandiHow het recht om door u ter beschikking gestelde Gegevens te verwijderen om welke reden dan ook en ook zonder reden, zonder dat HandiHow op enige wijze aansprakelijk wordt.</p>

			<p>U staat er jegens HandiHow voor in dat u rechthebbende bent ten aanzien van de Gegevens die u op de Website ter beschikking stelt, dat er daarmee geen rechten van derden worden geschonden en dat u bevoegd bent om de hiervoor bedoelde licentie te verstrekken. U vrijwaart HandiHow en alle aan haar gelieerde bedrijven en personen voor enige aanspraken van derden in dit verband.</p>

			<p>Indien een derde partij inbreuk maakt op de intellectuele eigendomsrechten die rusten op de Websites of de Apps, waaronder maar niet beperkt tot de Gegevens die u ter beschikking hebt gesteld, heeft HandiHow het recht om, voor haar eigen rekening, in en buiten rechte maatregelen te nemen tot stopzetting van die inbreuk en tot verkrijging van schadevergoeding. Dit doet overigens niet af aan uw eigen recht om ten behoeve van uw eigen rechten op de Gegevens zelf rechtsmaatregelen te nemen.</p>

			<p>Onverminderd hetgeen is bepaald in de vorige paragraaf, machtigt u HandiHow om, zo nodig in uw naam, op te treden en de aan u toekomende bevoegdheden uit te oefenen, die HandiHow nodig heeft om de in het vorige lid bedoelde maatregelen te nemen. U zult desgevraagd aan HandiHow alle medewerking verlenen tegen derden te nemen maatregelen ter handhaving en verdediging van haar of uw rechten.</p>

			<p>Bij een eventuele overdracht van de door u ter beschikking gestelde gegevens aan (een) derde(n) dient u te bedingen dat de onderhavige licentie inclusief alle in deze voorwaarden vastgelegde condities door de verkrijger worden gerespecteerd.</p>


		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Overige bepalingen">
			Overige bepalingen
		</mat-page-outlook>
		<mat-page-content>
			<h3>Cookies</h3>
			De Website maakt gebruik van cookies. Een cookie is een soort pakketje dat in een browser wordt geplaatst en waarin informatie kan wordt verzameld over instellingen, bezochte websites en aangeklikte onderdelen op websites. 
			HandiHow gebruikt cookies in overeenstemming met de Cookieverklaring.
			
			<h3>Privacy</h3>
			HandiHow hanteert een strikt privacybeleid.
			<p>Voor meer informatie, bezoek de pagina met het <a routerLink="/privacy">Privacybeleid</a></p>
			
			<h3>Geschillen</h3>
			Op alle geschillen die gerelateerd zijn aan of voortvloeien uit het gebruik van de Website of de Apps, is Nederlands recht van toepassing. Degelijke geschillen zullen bij uitsluiting worden voorgelegd aan de daartoe bevoegde rechter van de Rechtbank in Den Haag.
			
			<h3>Wijzigingen</h3>
			HandiHow behoudt zich het recht voor om deze gebruiksvoorwaarden en de Spel Voorwaarden op elk moment, zonder voorafgaande nadere kennisgeving, te wijzigen. Wanneer u na wijziging gebruik maakt of blijft maken van de Website of de Apps, bent u automatisch gebonden aan de gewijzigde gebruiksvoorwaarden. Wij raden u dan ook aan deze gebruiksvoorwaarden frequent te lezen indien u de Website of de Apps gebruikt.
		</mat-page-content>
	</mat-page-loader>
	
	
</mat-pages>
