<mat-pages>
	<mat-page-loader>
		<mat-page-outlook title="General provisions">
			<a mat-button href="https://handihow.com" target=_blank>HANDIHOW WEBSITE</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Company information</h3>
			HandiHow, a company under Dutch law, whose head office is located at Bilderdijkstraat 14, 2902 AB in CAPELLE AAN DEN IJSSEL, THE NETHERLANDS (hereinafter referred to as "HandiHow"), publishes the SelfieTheGame website (hereinafter referred to as "the Website"). This also includes the SelfieTheGame iOS and Android apps that are published on the app stores (hereinafter referred to as "the Apps").
			<h3>Applicability</h3>
			This website is operated by HandiHow, Bilderdijkstraat 14, 2902 AB Capelle aan den IJssel, ("HandiHow") and makes it possible to play the game SelfieTheGame. This includes uploading photos and commenting on one another. By continuing your visit to this website, you explicitly and irrevocably agree to these terms of use.

			<p>These Terms of Use apply to any use of the Websites and the Apps, as well as any information and data made available or posted by users thereon (the "Data").</p>

			<p>If you do not agree to these terms of use, you must immediately exit this website and stop visiting or using the Websites.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Game conditions">
			<a mat-button routerLink="/info" target=_blank>HOW THE GAME WORKS?</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Game Terms</h3>

			When participating in a game through the Website or through the Apps, everyone should behave responsibly. The object of the game is to have fun and have fun. Bullying, negative comments, or distributing indecent messages through images is not appropriate on SelfieTheGame.

			<p>Users can "Report" a selfie via the Website or Apps. This means that the content of the photo is inappropriate. At the first report an email will be sent to the person who uploaded the photo. You can also see under the photo (in the photo detail page) that the photo has been flagged as inappropriate.</p>

			<p>As soon as another user identifies the same selfie as inappropriate, an email will be sent to the game's administrator. The administrator can then address the team that posted the selfie.</p>

			<p>With 3 reports of the same photo, the photo is automatically removed from the game. The game administrator will be notified by email. In case of frequent abuse, HandiHow reserves the right to block or permanently remove a user from the game.</p>

			<p>HandiHow is in no way responsible for the consistent (negative consequences) of uploaded images or reactions to images.</p>
			<h3>Exclusion / Removal of content</h3>

			HandiHow reserves the right to exclude a user with immediate effect from any further use of the Website and the Apps if he acts in any way in violation of these terms of use, any provision of Dutch law, good taste and decency, or with the etiquette to be observed on the Internet, without prejudice to HandiHow's right to take further legal action and to claim damages.

			<p>HandiHow reserves the right at any time to remove Data from the Websites without giving any reason or warning and to deny users who have posted this Data access to the Websites.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Intellectual property rights">
			Intellectual property rights
		</mat-page-outlook>
		<mat-page-content>
			<h3>Intellectual property rights</h3>

			The copyrights, trademark rights and other intellectual property rights to the Data shown or available on the Websites (including, but not limited to, all information, texts, images, sounds, software, brands, logos and other material) are owned by HandiHow or are included with the permission of the entitled party.

			<p>The Data may only be used for non-commercial purposes. It is not permitted to reproduce or otherwise use the Data without prior written permission from HandiHow. Examples of unauthorized use of the Data are the storage or reproduction of (part of) the Data and the creation of links, hyperlinks or deep links between the Websites and another internet page.</p>

			<p>It may be possible to make data available on certain parts of the Websites, for example by uploading photos or commenting. Information posted by you on the Websites or on the Apps may be used by HandiHow at any time, both in connection with current and future activities of HandiHow and its affiliated companies.</p>

			<p>To the extent necessary, you acknowledge and agree that by providing or leaving information (such as a photo or comment), information, or image material (hereinafter collectively, "the Data") on the Websites, you provide HandiHow with no charge. , unencumbered, worldwide, non-exclusive license to use, reproduce, sub-license, distribute, edit and disclose this Information - including the name you provided - in any media and for for any purpose. To the extent possible, you hereby waive your personality rights as referred to in Article 25 of the Copyright Act 1912.</p>

			<p>You agree that the Data you make available through the Websites or the Apps will be used by other HandiHow users. HandiHow does not accept any liability for compliance by users of HandiHow with these terms of use.
			To the extent necessary, you grant HandiHow the right to delete Data made available by you for any reason and without reason, without HandiHow becoming liable in any way.</p>

			<p>You guarantee to HandiHow that you are a rightholder with regard to the Data that you provide on the Website, that it does not infringe any rights of third parties and that you are authorized to grant the aforementioned license. You indemnify HandiHow and all its affiliated companies and persons against any third-party claims in this regard.</p>

			<p>If a third party infringes the intellectual property rights that rest on the Websites or the Apps, including but not limited to the Data that you have made available, HandiHow has the right, at its own expense, to take judicial and extrajudicial measures. take action to stop the infringement and to obtain compensation. This does not affect your own right to take legal measures for the benefit of your own rights on the Data.</p>

			<p>Without prejudice to the provisions of the previous paragraph, you authorize HandiHow to act, if necessary in your name, and to exercise the powers that HandiHow needs to take the measures referred to in the previous paragraph. If requested, you will cooperate fully with HandiHow against measures taken to enforce and defend her or your rights.</p>

			<p>In the event of any transfer of the data provided by you to (a) third party (s), you must stipulate that the present license, including all conditions laid down in these conditions, will be respected by the transferee.</p>


		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Other provisions">
			Other provisions
		</mat-page-outlook>
		<mat-page-content>
			<h3>Cookies</h3>
			The Website uses cookies. A cookie is a type of package that is placed in a browser and in which information can be collected about settings, visited websites and clicked parts on websites.
			HandiHow uses cookies in accordance with the Cookie Statement.
			
			<h3>Privacy</h3>
			HandiHow has a strict privacy policy.
			<p>For more information, visit the page with  <a routerLink="/privacy">Privacy Policy</a></p>
			
			<h3>Disputes</h3>
			Dutch law applies to all disputes related to or arising from the use of the Website or the Apps. Such disputes will be submitted exclusively to the competent court of the court in The Hague.
			
			<h3>Amendments</h3>
			HandiHow reserves the right to change these Terms of Use and the Game Terms at any time without prior notice. If you use or continue to use the Website or the Apps after a change, you are automatically bound by the changed conditions of use. We therefore recommend that you read these terms of use frequently if you use the Website or the Apps.
		</mat-page-content>
	</mat-page-loader>
	
	
</mat-pages>
