<section fxLayout="column" fxLayoutAlign="center center">
  <mat-divider [inset]="true"></mat-divider>
  <p *ngIf="imageReferences?.length===0" class="no-content">
    <app-no-content
        title="No selfies"
        comment="You don't have selfies yet. Join a game and upload selfies. They will appear here."
        imageURL="https://firebasestorage.googleapis.com/v0/b/selfiespel-250de.appspot.com/o/standaard%2Fselfiestick.png?alt=media&token=ee325f8c-67da-4855-8a7d-159f19cccf23"></app-no-content>
  </p>
</section>

<mat-grid-list [cols]="columns" rowHeight="1:1">
  <mat-grid-tile *ngFor="let imageRef of imageReferences; let i=index">
  	<mat-grid-tile-header *ngIf="game">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item 
                  (click)="likeImage(imageRef)" >
          <mat-icon 
                    [color]="hasLiked(imageRef) ? 'primary' : null"
                    [matBadge]="imageRef.likes ? imageRef.likes.length : 0" 
                    matBadgePosition="before" 
                    matBadgeColor="accent">thumb_up_alt</mat-icon>
          {{hasLiked(imageRef) ? 'Unlike' : 'Like'}}
        </button>
        <button mat-menu-item 
                  (click)="openCommentDialog(imageRef)">
          <mat-icon [color]="hasCommented(imageRef) ? 'primary' : null" 
                    [matBadge]="imageRef.comments ? imageRef.comments.length : 0"
                    matBadgePosition="before" 
                    matBadgeColor="accent">
                    insert_comment</mat-icon>
          {{hasCommented(imageRef) ? 'Update comment' : 'Comment'}}
        </button>
        <button mat-menu-item 
                (click)="removeComment(imageRef)" 
                *ngIf="hasCommented(imageRef)">
          <mat-icon color="warn">
                    remove</mat-icon>
          Remove comment
        </button>
        <button mat-menu-item (click)="reportImage(imageRef)" *ngIf="!hasFoundInappropriate(imageRef)">
          <mat-icon color="warn">report</mat-icon>
          <span>Report</span>
        </button>
        <button mat-menu-item (click)="reportImage(imageRef)" *ngIf="hasFoundInappropriate(imageRef)">
          <mat-icon color="accent">report_off</mat-icon>
          <span>Don't report</span>
        </button>
      </mat-menu>
      {{imageRef.teamName}} with {{imageRef.assignment}}
    </mat-grid-tile-header>
    <div class="container" (click)="onOpenImage(imageRef)">
      <img [src]="imageRef.downloadUrl" class="tile-image" 
            [style.transform]="getTransform(imageRef)"
            src-fallback="https://via.placeholder.com/500x500.png?text=SelfieTheGame.com">
      <div class="overlay" *ngIf="imageRef.ratings && imageRef.ratings.includes(user.uid)">
        <mat-icon class="icon">check</mat-icon>
      </div>
    </div>
  	<mat-grid-tile-footer  *ngIf="game && (isJudge || isAdmin)" fxFlex="column" fxLayoutAlign="center">
       <mat-button-toggle-group [value]="imageRef.userAwardedPoints" (change)="onAwardPoints($event, imageRef)">
          <mat-button-toggle [value]="rating.invalid" matTooltip="0 points">
            <mat-icon aria-hidden="false" aria-label="Zero" color="primary">remove</mat-icon>
            <!-- <img src="assets/points_zero.png"> -->
          </mat-button-toggle>
          <mat-button-toggle [value]="rating.easy" matTooltip="1 point">
            <mat-icon aria-hidden="false" aria-label="One" color="primary">looks_one</mat-icon>
            <!-- <img src="assets/points_one.png"> -->
          </mat-button-toggle>
          <mat-button-toggle [value]="rating.medium" 
            [matTooltip]="imageRef.maxPoints < rating.medium ? 'not available' : '3 points'" 
            [disabled]="imageRef.maxPoints < rating.medium">
            <mat-icon aria-hidden="false" aria-label="Three" 
              [color]="imageRef.maxPoints < rating.medium ? 'accent' : 'primary'">looks_3</mat-icon>
           <!--  <img src="assets/points_three.png" *ngIf="imageRef.maxPoints >= rating.medium">
            <img src="assets/points_three_disabled.png" *ngIf="imageRef.maxPoints < rating.medium"> -->
          </mat-button-toggle>
          <mat-button-toggle [value]="rating.hard" 
              [matTooltip]=" imageRef.maxPoints < rating.hard ? 'not available' : '5 points'" 
              [disabled]="imageRef.maxPoints < rating.hard">
            <mat-icon aria-hidden="false" aria-label="Five" 
              [color]="imageRef.maxPoints < rating.hard ? 'accent' : 'primary'">
              looks_5
            </mat-icon>
            <!-- <mat-icon>whatshot</mat-icon> -->
            <!-- <img src="assets/points_five.png" *ngIf="imageRef.maxPoints >= rating.hard">
            <img src="assets/points_five_disabled.png" *ngIf="imageRef.maxPoints < rating.hard"> -->
          </mat-button-toggle>
        </mat-button-toggle-group>
  	</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
