<!-- <section fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-fab color="accent" (click)="onPrevious()" matTooltip="Vorige stap">
  	<mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Klaar om te beginnen!</h1>
</section> -->
<section fxLayout="column" fxLayoutAlign="center start" class="explanation">
	<p>Check if you are done setting up the game.</p>
	 <mat-checkbox [(ngModel)]="game.status.invited" (change)="onChange()">
     	All players are registered 
     </mat-checkbox>
      <mat-checkbox [(ngModel)]="game.status.assigned" (change)="onChange()">
     	Assignments are finished
     </mat-checkbox>
     <mat-checkbox [(ngModel)]="game.status.judgesAssigned" (change)="onChange()">
     	Judges are established
     </mat-checkbox>
     <mat-checkbox [(ngModel)]="game.status.teamsCreated" (change)="onChange()">
     	Teams are set up
     </mat-checkbox>
     <p>Pay attention! If you press the "Done setting" button, no new players can participate!</p>
     <button mat-raised-button (click)="onCloseAdmin()"
     [disabled]="!game.status.invited || !game.status.assigned || !game.status.judgesAssigned || !game.status.teamsCreated">
 		READY TO PLAY</button>
</section>
