<section fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-fab color="accent" (click)="onPrevious()" matTooltip="Vorige stap">
  	<mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Klaar om te beginnen!</h1>
</section>
<section fxLayout="column" fxLayoutAlign="center center" class="explanation">
	<p>Je bent klaar met het instellen van het spel.</p>
	<p>Als je het spel wilt starten, druk je op de "Play" knop.</p>
	<p>Let op! Als het spel eenmaal is begonnen, kunnen er geen nieuwe spelers meer meedoen!</p>
</section>
<section class="action-card">
	<app-actions-card></app-actions-card>
</section>