<section fxLayout="row" fxLayoutAlign="space-around center">
	<h1>Selfie Spellen</h1>
	<span>
		<a routerLink="/games/register" matTooltip="Registreer met een code" 
			mat-fab color="accent"><mat-icon>code</mat-icon></a>		
		<a routerLink="/games/new" matTooltip="Maak een nieuw spel aan"
			mat-fab color="primary"><mat-icon>add</mat-icon></a>
	</span>
</section>
<section fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" 
			fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center" >

	<mat-card fxFlex.gt-xs="30" *ngFor="let adminGame of adminGames$ | async">
		<mat-card-header>
			<mat-card-title>
				{{adminGame?.name}}
			</mat-card-title>
			<mat-card-subtitle>
				Beheerder
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Datum: {{adminGame?.date.toDate().toLocaleDateString()}}</p>
			<p>Code: {{adminGame?.code}}</p>
		</mat-card-content>
		<mat-card-actions>
			<a mat-button color="primary" routerLink="/games/{{adminGame.id}}">Open spel</a>
		</mat-card-actions>
	</mat-card>

	<mat-card fxFlex.gt-xs="30" *ngFor="let participantGame of participantGames$ | async">
		<mat-card-header>
			<mat-card-title>
				{{participantGame?.name}}
			</mat-card-title>
			<mat-card-subtitle>
				Speler
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Datum: {{participantGame?.date.toDate().toLocaleDateString()}}</p>
			<p>Code: {{participantGame?.code}}</p>
		</mat-card-content>
		<mat-card-actions>
			<a mat-button color="primary" routerLink="/games/{{participantGame.id}}">Open spel</a>
		</mat-card-actions>
	</mat-card>

</section>