<section fxLayout="row" fxLayoutAlign="space-around center">
	<h1>Selfie Spellen</h1>
	<a routerLink="/games/choose" matTooltip="Nieuw spel!"
					mat-fab color="accent"><mat-icon>add</mat-icon></a>
</section>
<section fxLayout="column" fxLayoutAlign="center center">
	<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
	<h3 *ngIf="(games$ | async)?.length===0">Nog geen spellen</h3>
</section>
<section fxLayout="row wrap" fxLayoutAlign="space-around stretch"
				fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
	<div *ngFor="let game of games$ | async" fxFlex.gt-sm="30">
		<app-games-card
			[game]="game"
			[user]="user"></app-games-card>
	</div>
</section>