<h3 mat-dialog-title>{{image.teamName}} met {{image.assignment}}</h3>
<div mat-dialog-content>
	
 	<app-image-viewer [userId]="user?.uid" [gameId]="image?.gameId" [teamId]="image.teamId"
		  					[assignmentId]="image.assignmentId"></app-image-viewer>

	<mat-list>
	  <mat-list-item *ngFor="let reaction of reactions">
	  	<mat-icon matListIcon *ngIf="reaction.reactionType === reactionType.like">thumb_up_alt</mat-icon>
	    <mat-icon matListIcon *ngIf="reaction.reactionType === reactionType.comment">insert_comment</mat-icon>
	    <mat-icon matListIcon *ngIf="reaction.reactionType === reactionType.rating">assessment</mat-icon>
	    <mat-icon matListIcon *ngIf="reaction.reactionType === reactionType.inappropriate" color="warn">report</mat-icon>
	    <h3 matLine>{{reaction.userDisplayName}}</h3>
	    <p matLine *ngIf="reaction.reactionType > reactionType.like">
	      {{reaction.reactionType === reactionType.comment? reaction.comment : reaction.rating}}
	    </p>
	  </mat-list-item>
	</mat-list>

	<p *ngIf="assignment && assignment.description">{{assignment.description}}</p>
	<p *ngIf="assignment && assignment.location">{{assignment.location}}</p>
	<div *ngIf="assignment && assignment.hasGooglePlacesLocation">
  	  <app-show-locations [assignment]="assignment" [image]="image"></app-show-locations>
	</div>
	
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
  <button mat-button (click)="onRotate()">Roteren</button>
  <button mat-button (click)="onDownload()" *ngIf="user?.uid === image?.userId">Download</button>
  <button mat-button (click)="onRemoveImage()" *ngIf="user?.uid === image?.userId" color="warn">Remove</button>
</div>