<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Selfies">
  	<ng-template matTabContent>
	    <app-images-grid-view 
                  [game]="game"
                  [user]="user"
                  [imageReferences]="imageReferences"
                  [images$]="images$"></app-images-grid-view>
	  </ng-template>
  </mat-tab>
  <mat-tab label="Score">
  	<ng-template matTabContent>
      <div class="score-display">
        <app-score-board [game]="game"></app-score-board>
      </div>
	  </ng-template>
  </mat-tab>
  <mat-tab label="Acties" *ngIf="isAdmin">
    <ng-template matTabContent>
      <div class="score-display">
          <app-actions-card></app-actions-card>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>