<section *ngIf="doneLoading && !game.status.closedAdmin">
  Het spel is nog niet begonnen...
</section>

<mat-tab-group mat-align-tabs="center" *ngIf="doneLoading && game.status.closedAdmin">
  <mat-tab label="Spel" *ngIf="game.status.playing">
  	<ng-template matTabContent>
	    <app-game-upload-expansion-panel
                  [thumbnailReferences]="thumbnailReferences"
                  [thumbnails$]="thumbnails$"
                  [assignments]="assignments"
                  [game]="game"
                  [team]="team"
                  [user]="user"></app-game-upload-expansion-panel>
	  </ng-template>
  </mat-tab>
  <mat-tab label="Selfies">
  	<ng-template matTabContent>
	    <app-images-grid-view 
                  [game]="game"
                  [user]="user"
                  [imageReferences]="imageReferences"
                  [images$]="images$"></app-images-grid-view>
	  </ng-template>
  </mat-tab>
  <mat-tab label="Score">
  	<ng-template matTabContent>
      <div class="score-board">
        <app-score-board 
                  [game]="game" 
                  [assignments]="assignments"
                  [imageReferences]="imageReferences"></app-score-board>
      </div>
	  </ng-template>
  </mat-tab>
  <mat-tab label="Acties" *ngIf="isAdmin">
    <ng-template matTabContent>
      <div class="action-card">
          <app-actions-card [game]="game"></app-actions-card>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>