<!-- <section fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-fab color="accent" (click)="onPrevious()" matTooltip="Vorige stap">
  	<mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Teams</h1>
  <button mat-fab color="accent" (click)="onNext()" matTooltip="Volgende stap">
  	<mat-icon>arrow_forward</mat-icon>
  </button>
</section> -->
<section class="team-container" *ngIf="!game.status.teamsCreated">
	<p>Before setting up teams, all players must first have registered.</p>
  <p>First confirm that all players have signed up.</p>
  <p>You can check who have signed up in the first tab "Invite".</p>
  <button mat-raised-button (click)="onInvited()">ALL PLAYERS ARE REGISTERED</button>
</section>

<section fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch"
    *ngIf="game.status.teamsCreated">
	<app-teams-card [game]="game"></app-teams-card>
  <app-team-auto-accounts-card [game]="game"></app-team-auto-accounts-card>
</section>