<section fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-fab color="accent" (click)="onPrevious()" matTooltip="Vorige stap">
  	<mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Teams</h1>
  <button mat-fab color="accent" (click)="onNext()" matTooltip="Volgende stap">
  	<mat-icon>arrow_forward</mat-icon>
  </button>
</section>
<section fxLayout="column" fxLayoutAlign="center center" class="explanation">
	Deel hier de teams in. Deelnemers die niet meespelen sleep je onder "Speelt niet mee".
</section>
<section class="teams-card">
	<app-teams-card></app-teams-card>
</section>