<h1 mat-dialog-title>{{isEditing ? 'Edit' : 'Add'}} assignment</h1>
<form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<mat-form-field class="full-width">
		   <input matInput placeholder="Assignment" formControlName="assignment" required>
		   <mat-error>Make assignment that completes the sentence 'Take a selfie with ...'</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">  
		  <mat-select 
		  		placeholder="Select level" 
		  		formControlName="maxPoints"
		  		required>
		    <mat-option *ngFor="let maxPoints of maxPointOptions" [value]="maxPoints">
		      {{maxPoints}}
		    </mat-option>
		  </mat-select>
		  <mat-error>Select the level that determines the maximum points you can get for the assignment</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
		   <input matInput placeholder="Description (more details, optional)" formControlName="description">
		</mat-form-field>
		<mat-slide-toggle
           formControlName="hasGooglePlacesLocation">
	        Geolocation
	      </mat-slide-toggle>
		<mat-form-field class="full-width" *ngIf="!assignmentForm.value.hasGooglePlacesLocation">
		   <input matInput placeholder="Describe the location (optional)" formControlName="location">
		</mat-form-field>
		<app-search-location
			[assignment]="assignment"
			(selectedLocation)="onSelectedLocation($event)"
			(selectedPlaceResult)="onSelectedPlaceResult($event)"></app-search-location>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button type="submit" mat-raised-button color="primary">Save</button>
		<button type="button" mat-raised-button color="accent" [mat-dialog-close]="false">Back</button>
	</mat-dialog-actions>
</form>
