<mat-pages>
	<mat-page-loader>
		<mat-page-outlook title="Algemene bepalingen">
			<a mat-button href="https://handihow.com" target=_blank>HANDIHOW WEBSITE</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Company Information</h3>
			HandiHow, a company under Dutch law, whose head office is located at Bilderdijkstraat 14, 2902 AB in CAPELLE AAN DEN IJSSEL, THE NETHERLANDS (hereinafter referred to as "HandiHow"), publishes the SelfieTheGame website (hereinafter referred to as "the Website"). This also includes the SelfieTheGame iOS and Android apps that are published on the app stores (hereinafter referred to as "the Apps").
			<h3>Privacy policy SelfieTheGame</h3>
			<p>SelfieTheGame cares a lot about your privacy. We therefore only process data that we need for (the improvement of) our services and handle the information we have collected about you and your use of our services with care. We never make your data available to third parties for commercial purposes.</p>

			<p>This privacy policy applies to the use of the website and the services provided by SelfieTheGame. The starting date for the validity of these conditions is 16/05/2019, with the publication of a new version the validity of all previous versions expires. This privacy policy describes what information about you is collected by us, what this information is used for and with whom and under what conditions this information can possibly be shared with third parties. We also explain to you how we store your data and how we protect your data against misuse and what rights you have with regard to the personal data you provide to us.</p>
			<p>If you have any questions about our privacy policy, please contact our contact person for privacy matters, you will find the contact details at the end of our privacy policy.</p>

			<h3>About data processing</h3>
			<p>Below you can read how we process your data, where we store it or have it stored, which security techniques we use and for whom the data is transparent.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Retention of data">
			<a mat-button href="https://firebase.google.com" target=_blank>DATA STORAGE</a>
		</mat-page-outlook>
		<mat-page-content>
			<h3>Back-end Services</h3>
			<p>All data and images are stored in Google's databases and cloud storage <a href="https://firebase.google.com/" target=_blank>Firebase</a>. Data and images are protected for access. Only logged-in users with the appropriate rights can view data and download images. Servers in Europe were chosen for storage.</p>

			<h2>Purpose of the data processing</h2>
			<h3>General purpose of the processing</h3>
			<p>We only use your data for the benefit of our services. This means that the purpose of the processing is always directly related to the assignment you provide. We do not use your data for (targeted) marketing. If you share information with us and we use this information to contact you at a later time - other than at your request - we will ask you for explicit permission. Your data will not be shared with third parties, other than to meet accounting and other administrative obligations. These third parties are all bound to secrecy on the basis of the agreement between them and us or an oath or legal obligation.</p>

			<h3>Automatically collected data</h3>
			<p>Data that is automatically collected by our website is processed with the aim of further improving our services. This data (for example your IP address, web browser and operating system) is not personal data.</p>

			<h3>Participation in tax and criminal investigations</h3>
			<p>In some cases, SelfieTheGame can be held on the basis of a legal obligation to share your data in connection with government tax or criminal investigations. In such a case we are forced to share your data, but we will oppose this within the possibilities that the law offers us.</p>

			<h3>Retention periods</h3>
			<p>We keep your data as long as you are a client of ours. This means that we keep your profile until you indicate that you no longer wish to use our services. If you indicate this to us, we will also regard this as a request to forget.</p>
		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Rights">
			Your rights
		</mat-page-outlook>
		<mat-page-content>
			<h2>Your rights</h2>
			<p>Under the applicable Dutch and European legislation, you as a data subject have certain rights with
			regarding the personal data processed by or on behalf of us. We explain which ones below
			These are rights and how you can invoke these rights. In principle, we send to prevent abuse
			copies and copies of your data only to your already known e-mail address. In case you have the
			we would like to ask you to receive data at another e-mail address or, for example, by post
			legitimize. We keep records of completed requests, in case of a forget request
			we administer anonymized data. You will receive all copies and copies of data in the
			machine-readable data format that we use within our systems. You have the right to request one at any time
			file a complaint with the Data Protection Authority if you suspect that we have your personal data on a
			using the wrong way.</p>

			<h3>Right of inspection</h3>
			<p>You always have the right to process the data that we process or have related to your person or
			can be traced back to that. You can make a request to that effect to our contact person
			privacy matters. You will receive a response to your request within 30 days. Send if your request is granted
			we will send you a copy of all data with an overview of the processors who supply them to the e-mail address known to us
			data, stating the category under which we have stored this data.</p>

			<h3>Right of rectification</h3>
			<p>You always have the right to process the data that we process or have related to your person or
			be traceable to that end. You can make a request to that effect to our contact person
			for privacy matters. You will receive a response to your request within 30 days. If your request is granted
			We will send you a confirmation that the details have been changed at the e-mail address known to us.</p>

			<h3>Right to restriction of processing</h3>
			<p>You always have the right to process the data that we process or have related to your person or for that purpose
			be traceable. You can make a request to that effect to our contact person
			privacy matters. You will receive a response to your request within 30 days. Send if your request is granted
			we will send you a confirmation to the e-mail address known to us that the data will no longer be limited to you
			are processed.</p>

			<h3>Right to transferability</h3>
			<p>You always have the right to process the data that we process or have related to your person or
			be traceable to that end, to be carried out by another party. You can submit a request to that effect
			our contact person for privacy matters. You will receive a response to your request within 30 days. As your request
			We will send you copies or copies of all information about you that is known to us at the e-mail address known to us
			we have processed or have been processed by other processors or third parties on our behalf. To all
			likelihood in such a case we will no longer be able to continue providing the service, because the secure
			linking of data files can then no longer be guaranteed.</p>

			<h3>Right to object and other rights</h3>
			<p>In such cases, you have the right to object to the processing of your personal data by
			or on behalf of SelfieTheGame. If you object, we will immediately stop the data processing
			pending the processing of your objection. If your objection is well-founded, we will provide copies and / or copies of
			make data available to you (or have it processed) and then permanently cease processing it. You have
			in addition, the right not to be subject to automated individual decision-making or profiling.
			We do not process your data in such a way that this right applies. Do you believe that this is so
			please contact our contact person for privacy matters.</p>


		</mat-page-content>
	</mat-page-loader>
	<mat-page-loader>
		<mat-page-outlook title="Other provisions">
			Other provisions
		</mat-page-outlook>
		<mat-page-content>
			<h3>Google Analytics</h3>
			<p>Cookies from the American company Google are placed via our website as part of the "Analytics" service.
			We use this service to track and get reports on how visitors use the website.
			This processor may be obliged to provide access to this data under applicable laws and regulations.
			We have not allowed Google to use the obtained analytics information for other Google services.</p>

			<h3>Changes to the privacy policy</h3>
			<p>We reserve the right to change our privacy policy at any time. However, you will always find the most on this page
			recent version. If the new privacy policy affects the way in which we have already collected data
			with regard to you, we will inform you by e-mail.</p>

			<h3>Contact details</h3>
			<p>SelfieTheGame is made by HandiHow:</p>
			<h3>HandiHow</h3>
			<p>Bilderdijkstraat 14</p>
			<p>2902 AB Capelle aan den IJssel</p>
			<p>office@handihow.com</p>
		</mat-page-content>
	</mat-page-loader>
	
	
</mat-pages>
