<section fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-between stretch" >

	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Screenshots
			</mat-card-title>
			<mat-card-subtitle>
				Vogelvlucht door SelfieTheGame
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content class="slideshow">
			<slideshow [height]="500"
			           [minHeight]="'500px'"
			           [autoPlay]="autoPlay"
			           [autoPlayInterval]="4000"
			           [stopAutoPlayOnSlide]="true"
			           [showArrows]="true"
			           [imageUrls]="images"
			           [lazyLoad]="images?.length > 1"
			           [autoPlayWaitForLazyLoad]="true"
			           [captionBackground]="'rgba(0, 0, 0, 0.7)'">
			</slideshow>
		</mat-card-content>
		<mat-card-actions>
			<a 
				routerLink="/" 
				mat-icon-button
				matTooltip="Terug">
				<mat-icon>
					arrow_back
				</mat-icon>
			</a>
			<button 
				mat-icon-button 
				(click)="toggleAutoPlay()"
				matTooltip="Slider instellen">
				<mat-icon *ngIf="autoPlay">pause_circle_outline</mat-icon>
				<mat-icon *ngIf="!autoPlay">play_circle_outline</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Stap 1
			</mat-card-title>
			<mat-card-subtitle>
				Nieuw spel starten als beheerder
			</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/selfiespel-250de.appspot.com/o/standaard%2Fselfie-achter.png?alt=media&token=c98feb5d-47eb-4f48-ac83-f3db73912852">
		<mat-card-content>
			<p>Je kunt een nieuw spel beginnen door in te loggen op deze website. Met behulp van de QR code (scannen) of de code (invoeren) kunnen spelers zich aanmelden bij jouw spel.</p>
			<p>Je kunt vervolgens de opdrachten instellen in de vorm van "Maak een selfie met...". Daarna kun je eventueel nog juryleden toevoegen. De beheerder is automatisch jurylid en kan ook punten geven. Als laatste stel je de teams samen. Dit kan pas als iedereen zich heeft aangemeld.</p>
			<p>Als je een nieuw spel wilt beheren, kun je dit het makkelijkst doen door in te loggen op deze website.</p>
		</mat-card-content>
		<mat-card-actions>
		  	 <a mat-button routerLink="/login">INLOGGEN</a>
		</mat-card-actions> 
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Stap 2
			</mat-card-title>
			<mat-card-subtitle>
				Teams maken selfies met de opdracht
			</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/selfiespel-250de.appspot.com/o/standaard%2Fselfie-strand2.png?alt=media&token=f1350cb9-3449-4273-8d6b-19b9be8515f7">
		<mat-card-content>
			<p>Als het spel is begonnen kunnen de teams selfies nemen met de opdrachten. Iedereen kan de ingezonden selfies van alle teams zien.</p>
			<p>Je kunt selfies liken en er is een chatroom waarin je met elkaar kunt communiceren.</p>
			<p>De beheerder kan het spel tussentijds pauzeren en weer starten. Als het spel gepauzeerd of klaar is, kunnen spelers geen selfies inzenden.</p>
			<p>Spelers kunnen het beste de apps gebruiken in de Google Play of iOS App Stores.</p>
		</mat-card-content>
		<mat-card-actions>
		  	 <a mat-button href='https://play.google.com/store/apps/details?id=com.handihow.selfiethegame&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target=_blank>GOOGLE PLAY STORE</a>
		  	 <a mat-button href='https://testflight.apple.com/join/wXgc5C50' target=_blank>IOS APP STORE</a>
		</mat-card-actions> 
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Stap 3
			</mat-card-title>
			<mat-card-subtitle>
				Beheerder (en juryleden) beoordelen de selfies
			</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/selfiespel-250de.appspot.com/o/standaard%2Fselfie3.png?alt=media&token=37574672-e596-41e5-9e52-fe8ce4979770">
		<mat-card-content>
			<p>Tijdens of na het spel kunnen juryleden (inclusief de beheerder) de selfies beoordelen.</p>
			<p>Bij de instellingen van het spel heb je het maximaal aantal punten per selfie al ingesteld. Je kunt nooit meer punten geven dan het maximum aantal punten voor de opdracht, maar wel minder.</p>
			<p>De punten worden bij elkaar opgeteld en het team met de meeste punten wint het spel!</p>
			<p>Heb je nog vragen of opmerkingen over het spel? Neem dan contact op met HandiHow, de makers van dit spel!</p>
		</mat-card-content>
		<mat-card-actions>
		  	 <a mat-button routerLink="/faq">VEELGESTELDE VRAGEN</a>
		</mat-card-actions> 
	</mat-card>

</section>
