<section fxLayout="row" fxLayoutAlign="center center">
	<h3>Take a selfie with....</h3>
</section>

<mat-accordion class="headers-align">
	<mat-expansion-panel *ngFor="let assignment of assignments; let i=index"
				(opened)="onOpenPanel(assignment)"
                (closed)="onClosePanel()">
	  <mat-expansion-panel-header>
	    <mat-panel-title>
		    {{assignment.assignment}}
		</mat-panel-title>
	    <mat-panel-description>
		    	max. {{assignment.maxPoints}} points
		    	<span *ngIf="containsImage(assignment)">
		    		<img class="avatar" [src]="containsImage(assignment).downloadUrlTN" 
		    		[style.transform]="getTransform(assignment)">
		    	</span>
  	    </mat-panel-description>
	  </mat-expansion-panel-header>
	  <p *ngIf="assignment.description">{{assignment.description}}</p>
	  <p *ngIf="assignment.location">{{assignment.location}}</p>
	  <div *ngIf="assignment.id===assignmentId" 
	  		fxLayout="row" fxLayoutAlign="space-evenly start"
	  		fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
	  	  <div *ngIf="assignment.hasGooglePlacesLocation">
	  		<app-show-locations [assignment]="assignment" [image]="containsImage(assignment)"></app-show-locations>
		  </div>
		  <div class="image-handler">
			  <app-file-upload 	[userId]="user?.uid" 
			  					[gameId]="game?.id" 
			  					[team]="team" 
			  					[assignment]="assignment" *ngIf="!containsImage(assignment)"></app-file-upload>
			  <app-image-viewer 
			  					[userId]="user?.uid" 
			  					[gameId]="game?.id" 
			  					[teamId]="team?.id" 
			  					[hidden]="!containsImage(assignment)"
			  					[assignmentId]="assignmentId" 
			  					(containsImage)="retrieveImageState($event)"></app-image-viewer>
		  </div>
	  	
	  </div>
	  
	   <mat-action-row *ngIf="containsImage(assignment)">
	    <button mat-button (click)="onRotate()">Roteren</button>
	    <button mat-button color="warn" (click)="onRemoveImage()">Remove image</button>
	  </mat-action-row>
	</mat-expansion-panel>
</mat-accordion>