/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles.css";

html,
body {
	height: 100%;
}

body{
	margin: 0;
	font-family: 'Mukta', sans-serif;
}

.full-width {
	width:100%;
}

