<mat-card class="full-width" *ngIf="!game.status.assigned">
	<mat-card-header>
		<mat-card-title>Opdrachten</mat-card-title>
		<mat-card-subtitle>Kies niveau en aantal opdrachten</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-radio-group [(ngModel)]="selectedLevel">
		  <mat-radio-button class="radio-button" *ngFor="let level of levels" [value]="level.level">
		  	{{level.label}}
		  </mat-radio-button>
		</mat-radio-group>
		<mat-slider min="5" max="20" step="1" [value]="12" (change)="onChangeQuantity($event)" thumbLabel></mat-slider>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="accent" (click)="onSave()">Maak opdrachten!</button>
	</mat-card-actions>
</mat-card>

<mat-card class="full-width" *ngIf="game.status.assigned">
	<mat-card-header>
		<mat-card-title>Opdrachten</mat-card-title>
		<mat-card-subtitle>Maak een selfie met ....</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-list cdkDropList (cdkDropListDropped)="drop($event)" class="list">
		  <div *ngFor="let assignment of assignments" cdkDrag class="list-item">
		    <app-assignment-list-item [assignment]="assignment"></app-assignment-list-item>
		  </div>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="onNewAssignments()">Opnieuw!</button>
		<button mat-raised-button color="accent" (click)="onNew()">
			Nieuwe opdracht
		</button>
	</mat-card-actions>
</mat-card>